<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS Basics</title>

    <style>
      html,
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      hr {
        background-color: purple;
        height: 4px;
      }
      .box {
        background-color: purple;
        width: 200px;
        height: 200px;
      }

      .box2 {
        background-color: red;
      }

      .box3 {
        background-color: blue;
      }

      [v-cloak] {
        display: none;
      }

      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <!-- {{greeting}} -->
      <login-form />
      <br /><br />

      <input @keyup="trackingKeys" v-model="greeting" />
      <br />
      <!-- <input @keyup.enter="trackingEnterKey" placeholder="click enter key" /> -->
      <input
        @keyup.enter="passingValueWithEnterKey(`${greeting}!!!!! ${new Date()}`)"
        placeholder="click enter key"
      />

      <hr />

      <button @click="toggleBox">Toggle Box</button>
      <!-- <button @click.right="toggleBox">Toggle Box</button> -->

      <!-- <div class="box" v-show="isVisible"></div> -->
      <div class="box" v-if="isVisible"></div>
      <!-- <div class="box box2" v-else-if="isVisible2"></div>
      <div class="box box3" v-else></div> -->
    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
      let app = Vue.createApp({
        data() {
          return {
            greeting: "Hello Vue 3!",
            isVisible: false,
          };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          trackingKeys(e) {
            console.log(e);
            console.log(e.key);
          },
          trackingEnterKey(e) {
            // ther is no need for this..
            // if (e.key === "Enter") console.log(e);
            e.target.value = "Hello From Event";
            console.log(e);
          },
          passingValueWithEnterKey(greeting) {
            console.log(greeting, event.target.value, event.key);
          },
        },
      });

      app.component("login-form", {
        template: `
          <form @submit.prevent="handleSubmit">
            <h1>{{title}}</h1>

            <custom-input 
            v-for="(inp,i) in inputs"
            :key="inp.id"
            v-model="inp.value" 
            :type="inp.type"
            :label="inp.label" />

            <button type="submit">Login</button>
          </form>
        `,
        components: ["custom-input"],

        data() {
          return {
            title: "Login Form",

            inputs: [
              { id: 0, label: "Email", value: "", type: "email" },
              { id: 1, label: "Password", value: "", type: "password" },
            ],

            // email: "",
            // password: "",
            // emailLabel: "Email",
            // passwordLabel: "Password",
          };
        },

        methods: {
          handleSubmit(e) {
            console.log(this.inputs[0].value, this.inputs[1].value);
          },
        },
      });

      app.component("custom-input", {
        template: `
        <label>
          {{label}}
          <input :type="type" v-model="inputValue"/>
        </label>
        `,
        props: ["label", "type", "modelValue"],

        computed: {
          inputValue: {
            get() {
              return this.modelValue;
            },
            set(value) {
              this.$emit("update:modelValue", value);
            },
          },
        },

        // data() {
        //   return {
        //     inputValue: "",
        //   };
        // },
      });

      app.mount("#app");
    </script>
  </body>
</html>
